#chat-messages-list {
  border-radius: 5px;
  border: 5px solid rebeccapurple;
  height: 100%;
}
#chat-messages-list li {
  color: rgb(83, 83, 152);
}
#chat-messages-list .other-message {
  text-align: left;
  padding: 5px;
  /* border: 1px solid red; */
}
#chat-messages-list .other-message span {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  background-color: antiquewhite;
}
#chat-messages-list .self-message {
  /* border: 1px solid red; */
  text-align: right;
  padding: 5px;
}
#chat-messages-list .self-message span {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  background-color: aquamarine;
}
